client/node_modules
client/src/config/fbAdmin-key.json
client/src/config/firebase-config.json

server/node_modules
server/.firebase
server/.env
server/api/src/config/fbAdmin-key.json
server/api/src/config/firebase-config.json
server/.firebaserc
server/firebase.json